<h1>cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <h2>
    <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
  </h2>

<% end %>

<h2><i class="fa fa-plus" aria-hidden="true"><%= link_to " Add a new cocktail", new_cocktail_path %></i></h2>
